// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #222;
$medium-grey: #7e7e7e;
$light-grey: #f4f4f4;
$header-color: #252D3B;

$link-color: #252D3B;
$link-hover-color: #0000ff;